form{
background-color:#fff
}
body{
background-color: #334;
margin : 0;
width : 100%; 
}

#formdiv{
border-radius : 200px;
margin : auto;
width:500px;
margin-top : 2%;
vertical-align : middle;
text-align:center;
font-family: 'Calibri Light';
font-size : auto;
}
form{
padding:40px 20px;
box-shadow:0 0 10px;
border-radius:2px
}
h2{
margin-left:30px
}
.upload{
background-color: black;
border:1px solid black;
color:#0F0;
border-radius:25px;
padding: 15px 40px 15px 40px;
box-shadow:2px 2px 15px rgba(0,0,0,.75);
font-size : 20px;
}
.upload:hover{
cursor:pointer;
background:#003;
border:1px solid black;
box-shadow:0 0 50px rgba(0,255,0,.75)
}
#file{
color:black;
padding:15px;
border: 2px solid black;
background-color: #0C3;
box-shadow:0 0 5px rgba(0,0,0,.75)
}

#upload{
margin-left:auto
}
.noerror{
color:green;
text-align:center;
font-size : 20px;
}
.error{
color:red;
text-align:center;
font-size : 20px;
}
#img{
width:17px;
border:none;
height:17px;
margin-left:-20px;
margin-bottom:91px
}
.abcd{
text-align:center
}
.abcd img{
height:100px;
width:100px;
padding:5px;
border:1px solid #e8debd
}
b{
color:red
}

