#slideshow {  
    position: relative;  
    width: 960px;  
    height: 430px;    
}  

.container{
	width : 900px;
	height : 360px;
	margin : auto;
	overflow : hidden;
}

.slider {
	display : inline-block;

	list-style-type:none;
 }
 
.slider li {
	  position: relative;
	  display: block;
	  float: left;
	  margin: 0;
	  padding: 0;
	  width: 900px;
	  height: 360px;
 }
 
.slider li img {
	width : 900px;
	height : 360px;
	border : 1px solid grey;
}








.controlButton li, #plan li {
	width: 20px;
	height: 18px;
	display : inline-block;
	background: url("sprite3.png") no-repeat;
	list-style : none;
}

#plan .otherButton { background-position: left top; position : relative }
#plan .activeButton { background-position: 50% top; position : relative }
.controlButton .pauseButton { background-position: 100% top; position : absolute; right : 36px; margin-top: 18px; z-index : 1 }
.controlButton .nextButton { background-position: left bottom; transform : scale(2); position : absolute; top : 157px; right:38px; z-index : 1}
.controlButton .prevButton { background-position: 50% bottom; transform : scale(2); top : 157px; left: 38px; z-index : 1; position : absolute }
.controlButton .playButton { background-position: 100% bottom; position : absolute; right : 36px; margin-top: 18px; z-index : 1; display : none }

.activeButton:hover, .otherButton:hover, .controlButton .nextButton:hover, .controlButton .prevButton:hover, .controlButton .pauseButton:hover, .controlButton .playButton:hover { cursor : pointer;}

#timeline {
	position : relative;
	top : 15px;
	left : 14px;
	display : inline-block;
	font-size : 12px;
	font-style : bold;
}

#plan {
	position : absolute;
	right : 28px;
	margin-top : -10px;
}
